
*{
    padding:0;
    margin:0;
    
    
  }


  .form-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
  
    align-items: center;
    gap: 5rem;
    background-color: #495E57 ;

   
  }
  .form-title{
    margin-top: 5rem;
  }
  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  

  .field{
    max-width: 90%;
    align-items: center;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
  }

  input{
    width:150px;
    height: 20px;
    background-color: white;
  }

select{
  background-color: white;
}
  .center_confirmation{
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  sup{
    color: red;
  }

  .guestValidation{
    font-size: 12px;
    color: red;
  }

.submit-button{
  background-color: yellow;
  color: black;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 8%;
}

.submit-button:disabled{
  background-color: grey;
  
}


.bookingconfirm{
  background-color: #495E57 ;
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  width: 100vw;
  margin: auto 0 auto 0;
  align-items: center;
  gap: 5rem;
  
}


.bookingconfirm input{
  width: 250px;
  height: 50px;
}